.row
  .col.s12.card-column
    - articles.decorate.each do |article|
      .card.sticky-action
        .card-image.waves-effect.waves-block.waves-light.tooltipped{ data: { position: 'bottom',  tooltip: "#{article.tooltip}"}  }
          = image_tag article.url_to_image || 'https://picsum.photos/200/?random&blur', class: 'activator responsive-img'
        .card-content
          = article.recent_badge
          %span.card-title.activator.grey-text.text-darken-4.text-hide-me
            = article.title
            %i.material-icons.right more_vert
        .card-action
          %p= link_to 'Source', article.url, target: '_blank'
          %p= article.created_at
        .card-reveal
          %span.card-title.activator.grey-text.text-darken-4
            %i.material-icons.right close
          %p= article.content || 'No content'
          %p
            %b category:
            = article.category
  .col.s12.text-center= paginate articles, window: 1
