.container
  .row
    - @articles.each do |article|
      .col.s12.m4
        .card
          .card-image.waves-effect.waves-block.waves-light
            = image_tag article.url_to_image || 'https://picsum.photos/200/?random&blur', class: 'activator responsive-img'
          .card-content
            = article.recent_badge
            %span.card-title.activator.grey-text.text-darken-4.text-hide-me
              = article.title
              %i.material-icons.right more_vert
          .card-action
            %p
              = link_to 'Source', article.url
          .card-reveal
            %span.card-title.activator.grey-text.text-darken-4
              %i.material-icons.right close
              %p= article.description || 'No content'
              %p= article.content
