.row
  - @articles.each do |article|
    .col.s12.m4
      .card
        .card-image
          -# %img{:src => "images/sample-1.jpg"}/
          = image_tag article.url_to_image || 'https://picsum.photos/200/?random&blur'
          %span.card-title= article.title 
        .card-content
          %p
            = article.description || 'No content'
        .card-content
          %p
            = article.content
        .card-action
          = link_to 'Source', article.url
