= form_with(model: resource, local: true) do |form|
  - if resource.errors.any?
    #error_explanation
      %h2
        = pluralize(resource.errors.count, "error")
        prohibited this resource from being saved:
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :resource_id
    = form.text_field :source_id
  .field
    = form.label :name
    = form.text_field :name
  .actions
    = form.submit
