%p#notice= notice
%h1 Searches
%table
  %thead
    %tr
      %th Status
      %th Total results
      %th Created At
      %th{:colspan => "3"}
  %tbody
    - @searches.each do |search|
      %tr
        %td= search.status
        %td= search.total_results
        %td= search.created_at.to_formatted_s
        %td= link_to 'Show', search
        %td= link_to 'Edit', edit_search_path(search)
        %td= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Search', new_search_path
