-# side navigation bar
%ul#slide-out.sidenav.hide-on-med
  %li
    .user-view
      .background
        -# %img{:src => "images/office.jpg"}/
      %a{:href => "#user"}
        %img.circle{:src => "images/yuna.jpg"}/
      %a{:href => "#name"}
        %span.white-text.name John Doe
      %a{:href => "#email"}
        %span.white-text.email jdandturk@gmail.com
  %li
    %a{:href => "#!"}
      %i.material-icons> cloud
      First Link With Icon
  %li
    %a{:href => "#!"} Second Link
  %li
    .divider
  %li
    %a.subheader Subheader
  %li
    %a.waves-effect{:href => "#!"} Third Link With Waves

-# Navigation bar
%nav.nav-extended
  .nav-wrapper
    -# = link_to 'Dashboard', '/', class: 'brand-logo', id: 'brand-logo'
    = link_to '/', class: 'brand-logo', id: 'brand-logo' do
      = content_tag :i, 'pie_chart', class: 'material-icons'
      Article
    = link_to '#', class: ['button-collapse', 'sidenav-trigger'], data: { target: 'slide-out' } do
      = content_tag(:i, 'menu', class: 'material-icons')
    %ul#nav-mobile.bt.hide-on-med-and-down
    -#   %li.k= link_to 'Articles', root_path
      -# %li= link_to 'Seaches', searches_path
      -# %li= link_to 'Articles', articles_path
      -# %li= link_to 'Resources', resources_path
    .nav-header.center-align
      %h1 Good Morning, Malaysia
      %p A Great start for Daily News
      = content_tag(:i, 'arrow_downward', class: 'material-icons center-block')
