-# side navigation bar
%ul#slide-out.sidenav.hide-on-med
  %li
    %a{:href => "/"}
      %i.material-icons> leak_add
      News Wave
  %li
    .divider

-# Navigation bar
%nav.nav-extended{ style: "background-image: url(#{asset_path(greeting[:image])})" }
  .nav-wrapper
    = link_to '/', class: 'brand-logo', id: 'brand-logo' do
      %i.material-icons> leak_add
      News Wave
    = link_to '#', class: ['button-collapse', 'sidenav-trigger'], data: { target: 'slide-out' } do
      = content_tag(:i, 'menu', class: 'material-icons')
    %ul#nav-mobile.bt.hide-on-med-and-down
    .nav-header.center-align
      %h1 #{greeting[:message]}, Malaysia
      %p A Great start for Daily News
      = content_tag(:i, 'arrow_downward', class: 'material-icons center-block')
  
    = form_tag({ controller: 'home', action: 'search' }, method: :get) do
      .input-field
        = search_field_tag 'search', nil, id: 'search', required: true, placeholder: 'Search Article Title here', class: 'text-center', maxlength: 30
        = label_tag :search, content_tag(:i, 'search', class: 'material-icons'), class: 'label-icon'
        %i.material-icons close
