-# side navigation bar
%ul#slide-out.sidenav.hide-on-med
  %li
    %a{:href => "/"}
      %i.material-icons> pie_chart
      Articles
  %li
    .divider

-# Navigation bar
%nav.nav-extended
  .nav-wrapper
    = link_to '/', class: 'brand-logo', id: 'brand-logo' do
      = content_tag :i, 'pie_chart', class: 'material-icons'
      Article
    = link_to '#', class: ['button-collapse', 'sidenav-trigger'], data: { target: 'slide-out' } do
      = content_tag(:i, 'menu', class: 'material-icons')
    %ul#nav-mobile.bt.hide-on-med-and-down
    .nav-header.center-align
      %h1 #{greeting}, Malaysia
      %p A Great start for Daily News
      = content_tag(:i, 'arrow_downward', class: 'material-icons center-block')
